.vscode/

# Build
.qt/
.lupdate/
build/
CMakeFiles/
*.cmake
Makefile
CMakeCache.txt
CMakeLists.txt.user
rpp_cli_autogen/
rpp_viz_autogen/
run_tests_autogen/
generate_map_autogen/

# Executable
*.o
*.exe
run_tests
rpp_cli
rpp_viz
generate_map